.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Request {
    order: -1;
    /* Set the order to -1 to position on the left */
}

.Response {
    order: 1;
    /* Set the order to 1 to position on the right */
}