body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.Request {
    flex: 1;
    text-align: center;
}

.Response {
    flex: 1;
    text-align: center;
}